# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/src/monikor
/fork
/client
/pkg

# Debug files
*.dSYM/
*.log

# Etags
tags

# Autoconf/automake/libtool
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/compile
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]

# Packaging files
debian/tmp
debian/files
debian/autoreconf.*
debian/*.substvars
debian/stamp-*
debian/libmonikor-dev/
debian/libmonikor/
debian/quanta-agent-all/
debian/quanta-agent-apache/
debian/quanta-agent-base/
debian/quanta-agent-cpu/
debian/quanta-agent-disk/
debian/quanta-agent-memcached/
debian/quanta-agent-memory/
debian/quanta-agent-mysql/
debian/quanta-agent-network/
debian/quanta-agent-nginx/
debian/quanta-agent-process/
debian/quanta-agent-redis/
debian/quanta-agent-varnish/
debian/quanta-agent/
