user: nobody
directory: /tmp
daemonize: yes

poll_interval: 60
update_interval: 15

logger:
  level: debug
  file: /tmp/monikor.log

hostid: 0242ac110001
quanta_token: 76049d1d498e890ad4dd

server:
  url: "http://192.168.99.1:4242/push"
  timeout: 5
  # proxy_url: 'http://toto:toto42sh@127.0.0.1:6666'

cache:
  max_size_mb: 30

modules:
  path: /monikor/lib/modules
  config_path: /monikor/etc/modules/

listen:
  path: /tmp/monikor.sock
  user: www-data
  mode: 0666
